@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: #1f2632;
  font-family: "Manrope", sans-serif;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100vh;
  text-rendering: optimizeLegibility;
}

.advice-box {
  width: 500px;
  background-color: #323a49;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
}

.advice-number {
  letter-spacing: 2px;
  font-size: 0.8em;
  color: #52ffa8;
  margin-bottom: 5%;
}

.advice {
  display: inline-block;
  font-size: 1.3em;
  text-align: center;
  padding: 0 5%;
  color: #cee3e9;
  letter-spacing: 1px;
  margin-bottom: 8%;
}

.advice-divider {
  padding-bottom: 5%;
}

#adg-button {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1%;
  border-radius: 50%;
  position: absolute;
  background-color: #52ffa8;
  cursor: pointer;
  -webkit-transform: translateX(-25px);
          transform: translateX(-25px);
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

#adg-button:hover {
  -webkit-box-shadow: 0px 0px 50px #52ffa8;
          box-shadow: 0px 0px 50px #52ffa8;
}

@media only screen and (min-width: 1441px) {
  #adg-button {
    -webkit-transform: translate(-25px, 10px);
            transform: translate(-25px, 10px);
    padding: 1%;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1000px) {
  #adg-button {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    padding: 1.5%;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 700px) {
  #adg-button {
    -webkit-transform: translateX(-25px);
            transform: translateX(-25px);
    padding: 2%;
  }
}

@media only screen and (max-width: 600px) {
  .advice-box {
    width: 350px;
  }
  .advice-number {
    margin: 5% 0;
  }
  .advice {
    margin: 5% 3%;
    padding-bottom: 5%;
  }
  .advice-divider {
    padding-bottom: 12%;
  }
  #adg-button {
    -webkit-transform: translate(-20px, -14px);
            transform: translate(-20px, -14px);
    padding: 3%;
  }
}
/*# sourceMappingURL=App.css.map */